{% extends "base.html" %}

{% block content %}


<form action="/game" method ='post'>
    <h2>Player 1</h2>
    <label for ="p1name">Name:</label>
    <input type="text" name="p1name">
    <label for = "choice">Choice:</label>
    <input type="text" name="p1choice">
   

    <h2>Player 2</h2>
    <label for ="p2name">Name:</label>
    <input type="text" name="p2name">
    <label for = "choice">Choice:</label>
    <input type="text" name="p2choice">

    <input type="submit" value="confirm">
</form>


   
{% endblock %}